@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-[#E5E7EB];
    background-color: #0F172A;
  }

  ::-webkit-scrollbar {
    @apply w-2.5;
  }

  ::-webkit-scrollbar-track {
    background-color: #020617;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded;
    background-color: #38BDF8;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #0ea5e9;
  }
}
